extras/MonoDevelop.MonoDroid/MonoDevelop.MonoDroid/schemas/android-layout-xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:android="http://schemas.android.com/apk/res/android" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.android.com/apk/res/android" />
  <xs:group name="any-view">
    <xs:choice>
      <xs:element ref="GLSurfaceView" />
      <xs:element ref="AdapterView" />
      <xs:element ref="AutoCompleteTextView" />
      <xs:element ref="MediaController" />
      <xs:element ref="TextView" />
      <xs:element ref="ZoomControls" />
      <xs:element ref="AppWidgetHostView" />
      <xs:element ref="GestureOverlayView" />
      <xs:element ref="ExtractEditText" />
      <xs:element ref="KeyboardView" />
      <xs:element ref="SurfaceView" />
      <xs:element ref="ViewGroup" />
      <xs:element ref="ViewStub" />
      <xs:element ref="WebView" />
      <xs:element ref="AbsListView" />
      <xs:element ref="AbsSeekBar" />
      <xs:element ref="AbsSpinner" />
      <xs:element ref="AbsoluteLayout" />
      <xs:element ref="AnalogClock" />
      <xs:element ref="Button" />
      <xs:element ref="CheckBox" />
      <xs:element ref="CheckedTextView" />
      <xs:element ref="Chronometer" />
      <xs:element ref="CompoundButton" />
      <xs:element ref="DatePicker" />
      <xs:element ref="DialerFilter" />
      <xs:element ref="DigitalClock" />
      <xs:element ref="EditText" />
      <xs:element ref="ExpandableListView" />
      <xs:element ref="FrameLayout" />
      <xs:element ref="Gallery" />
      <xs:element ref="GridView" />
      <xs:element ref="HorizontalScrollView" />
      <xs:element ref="ImageButton" />
      <xs:element ref="ImageSwitcher" />
      <xs:element ref="ImageView" />
      <xs:element ref="LinearLayout" />
      <xs:element ref="ListView" />
      <xs:element ref="MultiAutoCompleteTextView" />
      <xs:element ref="ProgressBar" />
      <xs:element ref="QuickContactBadge" />
      <xs:element ref="RadioButton" />
      <xs:element ref="RadioGroup" />
      <xs:element ref="RatingBar" />
      <xs:element ref="RelativeLayout" />
      <xs:element ref="ScrollView" />
      <xs:element ref="SeekBar" />
      <xs:element ref="SlidingDrawer" />
      <xs:element ref="Spinner" />
      <xs:element ref="TabHost" />
      <xs:element ref="TabWidget" />
      <xs:element ref="TableLayout" />
      <xs:element ref="TableRow" />
      <xs:element ref="TextSwitcher" />
      <xs:element ref="TimePicker" />
      <xs:element ref="ToggleButton" />
      <xs:element ref="TwoLineListItem" />
      <xs:element ref="VideoView" />
      <xs:element ref="ViewAnimator" />
      <xs:element ref="ViewFlipper" />
      <xs:element ref="ViewSwitcher" />
      <xs:element ref="ZoomButton" />
    </xs:choice>
  </xs:group>
  <xs:element name="View" type="View" />
  <xs:complexType name="View">
    <xs:attribute ref="android:layout_x" />
    <xs:attribute ref="android:layout_y" />
    <xs:attribute ref="android:layout_gravity" />
    <xs:attribute ref="android:codes" />
    <xs:attribute ref="android:iconPreview" />
    <xs:attribute ref="android:isModifier" />
    <xs:attribute ref="android:isRepeatable" />
    <xs:attribute ref="android:isSticky" />
    <xs:attribute ref="android:keyEdgeFlags" />
    <xs:attribute ref="android:keyIcon" />
    <xs:attribute ref="android:keyLabel" />
    <xs:attribute ref="android:keyOutputText" />
    <xs:attribute ref="android:keyboardMode" />
    <xs:attribute ref="android:popupCharacters" />
    <xs:attribute ref="android:popupKeyboard" />
    <xs:attribute ref="android:rowEdgeFlags" />
    <xs:attribute ref="android:layout_height" />
    <xs:attribute ref="android:layout_weight" />
    <xs:attribute ref="android:layout_width" />
    <xs:attribute ref="android:layout_above" />
    <xs:attribute ref="android:layout_alignBaseline" />
    <xs:attribute ref="android:layout_alignBottom" />
    <xs:attribute ref="android:layout_alignLeft" />
    <xs:attribute ref="android:layout_alignParentBottom" />
    <xs:attribute ref="android:layout_alignParentLeft" />
    <xs:attribute ref="android:layout_alignParentRight" />
    <xs:attribute ref="android:layout_alignParentTop" />
    <xs:attribute ref="android:layout_alignRight" />
    <xs:attribute ref="android:layout_alignTop" />
    <xs:attribute ref="android:layout_alignWithParentIfMissing" />
    <xs:attribute ref="android:layout_below" />
    <xs:attribute ref="android:layout_centerHorizontal" />
    <xs:attribute ref="android:layout_centerInParent" />
    <xs:attribute ref="android:layout_centerVertical" />
    <xs:attribute ref="android:layout_toLeftOf" />
    <xs:attribute ref="android:layout_toRightOf" />
    <xs:attribute ref="android:layout_column" />
    <xs:attribute ref="android:layout_span" />
    <xs:attribute ref="android:layout_scale" />
    <xs:attribute ref="android:background" />
    <xs:attribute ref="android:clickable" />
    <xs:attribute ref="android:contentDescription" />
    <xs:attribute ref="android:drawingCacheQuality" />
    <xs:attribute ref="android:duplicateParentState" />
    <xs:attribute ref="android:fadeScrollbars" />
    <xs:attribute ref="android:fadingEdge" />
    <xs:attribute ref="android:fadingEdgeLength" />
    <xs:attribute ref="android:fitsSystemWindows" />
    <xs:attribute ref="android:focusable" />
    <xs:attribute ref="android:focusableInTouchMode" />
    <xs:attribute ref="android:hapticFeedbackEnabled" />
    <xs:attribute ref="android:id" />
    <xs:attribute ref="android:isScrollContainer" />
    <xs:attribute ref="android:keepScreenOn" />
    <xs:attribute ref="android:longClickable" />
    <xs:attribute ref="android:minHeight" />
    <xs:attribute ref="android:minWidth" />
    <xs:attribute ref="android:nextFocusDown" />
    <xs:attribute ref="android:nextFocusLeft" />
    <xs:attribute ref="android:nextFocusRight" />
    <xs:attribute ref="android:nextFocusUp" />
    <xs:attribute ref="android:onClick" />
    <xs:attribute ref="android:padding" />
    <xs:attribute ref="android:paddingBottom" />
    <xs:attribute ref="android:paddingLeft" />
    <xs:attribute ref="android:paddingRight" />
    <xs:attribute ref="android:paddingTop" />
    <xs:attribute ref="android:saveEnabled" />
    <xs:attribute ref="android:scrollX" />
    <xs:attribute ref="android:scrollY" />
    <xs:attribute ref="android:scrollbarAlwaysDrawHorizontalTrack" />
    <xs:attribute ref="android:scrollbarAlwaysDrawVerticalTrack" />
    <xs:attribute ref="android:scrollbarDefaultDelayBeforeFade" />
    <xs:attribute ref="android:scrollbarFadeDuration" />
    <xs:attribute ref="android:scrollbarSize" />
    <xs:attribute ref="android:scrollbarStyle" />
    <xs:attribute ref="android:scrollbarThumbHorizontal" />
    <xs:attribute ref="android:scrollbarThumbVertical" />
    <xs:attribute ref="android:scrollbarTrackHorizontal" />
    <xs:attribute ref="android:scrollbarTrackVertical" />
    <xs:attribute ref="android:scrollbars" />
    <xs:attribute ref="android:soundEffectsEnabled" />
    <xs:attribute ref="android:tag" />
    <xs:attribute ref="android:visibility" />
    <xs:attribute ref="android:layout_margin" />
    <xs:attribute ref="android:layout_marginBottom" />
    <xs:attribute ref="android:layout_marginLeft" />
    <xs:attribute ref="android:layout_marginRight" />
    <xs:attribute ref="android:layout_marginTop" />
  </xs:complexType>
  <xs:element name="GLSurfaceView" type="GLSurfaceView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Opengl.GLSurfaceView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GLSurfaceView">
    <xs:complexContent mixed="false">
      <xs:extension base="SurfaceView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdapterView" type="AdapterView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.AdapterView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AdapterView">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewGroup" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AutoCompleteTextView" type="AutoCompleteTextView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.AutoCompleteTextView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AutoCompleteTextView">
    <xs:complexContent mixed="false">
      <xs:extension base="EditText">
        <xs:attribute ref="android:completionHint" />
        <xs:attribute ref="android:completionHintView" />
        <xs:attribute ref="android:completionThreshold" />
        <xs:attribute ref="android:dropDownAnchor" />
        <xs:attribute ref="android:dropDownHeight" />
        <xs:attribute ref="android:dropDownHorizontalOffset" />
        <xs:attribute ref="android:dropDownSelector" />
        <xs:attribute ref="android:dropDownVerticalOffset" />
        <xs:attribute ref="android:dropDownWidth" />
        <xs:attribute ref="android:inputType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MediaController" type="MediaController">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.MediaController</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MediaController">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextView" type="TextView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TextView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TextView">
    <xs:complexContent mixed="false">
      <xs:extension base="View">
        <xs:attribute ref="android:autoLink" />
        <xs:attribute ref="android:autoText" />
        <xs:attribute ref="android:bufferType" />
        <xs:attribute ref="android:capitalize" />
        <xs:attribute ref="android:cursorVisible" />
        <xs:attribute ref="android:digits" />
        <xs:attribute ref="android:drawableBottom" />
        <xs:attribute ref="android:drawableLeft" />
        <xs:attribute ref="android:drawablePadding" />
        <xs:attribute ref="android:drawableRight" />
        <xs:attribute ref="android:drawableTop" />
        <xs:attribute ref="android:editable" />
        <xs:attribute ref="android:editorExtras" />
        <xs:attribute ref="android:ellipsize" />
        <xs:attribute ref="android:ems" />
        <xs:attribute ref="android:enabled" />
        <xs:attribute ref="android:freezesText" />
        <xs:attribute ref="android:gravity" />
        <xs:attribute ref="android:height" />
        <xs:attribute ref="android:hint" />
        <xs:attribute ref="android:imeActionId" />
        <xs:attribute ref="android:imeActionLabel" />
        <xs:attribute ref="android:imeOptions" />
        <xs:attribute ref="android:includeFontPadding" />
        <xs:attribute ref="android:inputMethod" />
        <xs:attribute ref="android:inputType" />
        <xs:attribute ref="android:lineSpacingExtra" />
        <xs:attribute ref="android:lineSpacingMultiplier" />
        <xs:attribute ref="android:lines" />
        <xs:attribute ref="android:linksClickable" />
        <xs:attribute ref="android:marqueeRepeatLimit" />
        <xs:attribute ref="android:maxEms" />
        <xs:attribute ref="android:maxHeight" />
        <xs:attribute ref="android:maxLength" />
        <xs:attribute ref="android:maxLines" />
        <xs:attribute ref="android:maxWidth" />
        <xs:attribute ref="android:minEms" />
        <xs:attribute ref="android:minHeight" />
        <xs:attribute ref="android:minLines" />
        <xs:attribute ref="android:minWidth" />
        <xs:attribute ref="android:numeric" />
        <xs:attribute ref="android:password" />
        <xs:attribute ref="android:phoneNumber" />
        <xs:attribute ref="android:privateImeOptions" />
        <xs:attribute ref="android:scrollHorizontally" />
        <xs:attribute ref="android:selectAllOnFocus" />
        <xs:attribute ref="android:shadowColor" />
        <xs:attribute ref="android:shadowDx" />
        <xs:attribute ref="android:shadowDy" />
        <xs:attribute ref="android:shadowRadius" />
        <xs:attribute ref="android:singleLine" />
        <xs:attribute ref="android:text" />
        <xs:attribute ref="android:textAppearance" />
        <xs:attribute ref="android:textColor" />
        <xs:attribute ref="android:textColorHighlight" />
        <xs:attribute ref="android:textColorHint" />
        <xs:attribute ref="android:textColorLink" />
        <xs:attribute ref="android:textScaleX" />
        <xs:attribute ref="android:textSize" />
        <xs:attribute ref="android:textStyle" />
        <xs:attribute ref="android:typeface" />
        <xs:attribute ref="android:width" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZoomControls" type="ZoomControls">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ZoomControls</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ZoomControls">
    <xs:complexContent mixed="false">
      <xs:extension base="LinearLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppWidgetHostView" type="AppWidgetHostView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Appwidget.AppWidgetHostView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AppWidgetHostView">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GestureOverlayView" type="GestureOverlayView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Gestures.GestureOverlayView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GestureOverlayView">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout">
        <xs:attribute ref="android:eventsInterceptionEnabled" />
        <xs:attribute ref="android:fadeDuration" />
        <xs:attribute ref="android:fadeEnabled" />
        <xs:attribute ref="android:fadeOffset" />
        <xs:attribute ref="android:gestureColor" />
        <xs:attribute ref="android:gestureStrokeAngleThreshold" />
        <xs:attribute ref="android:gestureStrokeLengthThreshold" />
        <xs:attribute ref="android:gestureStrokeSquarenessThreshold" />
        <xs:attribute ref="android:gestureStrokeType" />
        <xs:attribute ref="android:gestureStrokeWidth" />
        <xs:attribute ref="android:orientation" />
        <xs:attribute ref="android:uncertainGestureColor" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExtractEditText" type="ExtractEditText">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.InputMethodServices.ExtractEditText</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExtractEditText">
    <xs:complexContent mixed="false">
      <xs:extension base="EditText" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeyboardView" type="KeyboardView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.InputMethodServices.KeyboardView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="KeyboardView">
    <xs:complexContent mixed="false">
      <xs:extension base="View">
        <xs:attribute ref="android:keyBackground" />
        <xs:attribute ref="android:keyPreviewHeight" />
        <xs:attribute ref="android:keyPreviewLayout" />
        <xs:attribute ref="android:keyPreviewOffset" />
        <xs:attribute ref="android:keyTextColor" />
        <xs:attribute ref="android:keyTextSize" />
        <xs:attribute ref="android:labelTextSize" />
        <xs:attribute ref="android:popupLayout" />
        <xs:attribute ref="android:shadowColor" />
        <xs:attribute ref="android:shadowRadius" />
        <xs:attribute ref="android:verticalCorrection" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurfaceView" type="SurfaceView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Views.SurfaceView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SurfaceView">
    <xs:complexContent mixed="false">
      <xs:extension base="View" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewGroup" type="ViewGroup">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Views.ViewGroup</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ViewGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="View">
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="any-view" />
        <xs:attribute ref="android:addStatesFromChildren" />
        <xs:attribute ref="android:alwaysDrawnWithCache" />
        <xs:attribute ref="android:animationCache" />
        <xs:attribute ref="android:clipChildren" />
        <xs:attribute ref="android:clipToPadding" />
        <xs:attribute ref="android:descendantFocusability" />
        <xs:attribute ref="android:layoutAnimation" />
        <xs:attribute ref="android:persistentDrawingCache" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewStub" type="ViewStub">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Views.ViewStub</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ViewStub">
    <xs:complexContent mixed="false">
      <xs:extension base="View">
        <xs:attribute ref="android:inflatedId" />
        <xs:attribute ref="android:layout" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebView" type="WebView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Webkit.WebView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="WebView">
    <xs:complexContent mixed="false">
      <xs:extension base="AbsoluteLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbsListView" type="AbsListView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.AbsListView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AbsListView">
    <xs:complexContent mixed="false">
      <xs:extension base="AdapterView">
        <xs:attribute ref="android:cacheColorHint" />
        <xs:attribute ref="android:drawSelectorOnTop" />
        <xs:attribute ref="android:fastScrollEnabled" />
        <xs:attribute ref="android:listSelector" />
        <xs:attribute ref="android:scrollingCache" />
        <xs:attribute ref="android:smoothScrollbar" />
        <xs:attribute ref="android:stackFromBottom" />
        <xs:attribute ref="android:textFilterEnabled" />
        <xs:attribute ref="android:transcriptMode" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbsSeekBar" type="AbsSeekBar">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.AbsSeekBar</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AbsSeekBar">
    <xs:complexContent mixed="false">
      <xs:extension base="ProgressBar" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbsSpinner" type="AbsSpinner">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.AbsSpinner</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AbsSpinner">
    <xs:complexContent mixed="false">
      <xs:extension base="AdapterView">
        <xs:attribute ref="android:entries" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbsoluteLayout" type="AbsoluteLayout">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.AbsoluteLayout</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AbsoluteLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewGroup" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogClock" type="AnalogClock">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.AnalogClock</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AnalogClock">
    <xs:complexContent mixed="false">
      <xs:extension base="View">
        <xs:attribute ref="android:dial" />
        <xs:attribute ref="android:hand_hour" />
        <xs:attribute ref="android:hand_minute" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Button" type="Button">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.Button</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Button">
    <xs:complexContent mixed="false">
      <xs:extension base="TextView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckBox" type="CheckBox">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.CheckBox</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CheckBox">
    <xs:complexContent mixed="false">
      <xs:extension base="CompoundButton" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckedTextView" type="CheckedTextView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.CheckedTextView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CheckedTextView">
    <xs:complexContent mixed="false">
      <xs:extension base="TextView">
        <xs:attribute ref="android:checkMark" />
        <xs:attribute ref="android:checked" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Chronometer" type="Chronometer">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.Chronometer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Chronometer">
    <xs:complexContent mixed="false">
      <xs:extension base="TextView">
        <xs:attribute ref="android:format" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompoundButton" type="CompoundButton">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.CompoundButton</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CompoundButton">
    <xs:complexContent mixed="false">
      <xs:extension base="Button">
        <xs:attribute ref="android:button" />
        <xs:attribute ref="android:checked" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatePicker" type="DatePicker">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.DatePicker</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DatePicker">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout">
        <xs:attribute ref="android:endYear" />
        <xs:attribute ref="android:startYear" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DialerFilter" type="DialerFilter">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.DialerFilter</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DialerFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="RelativeLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalClock" type="DigitalClock">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.DigitalClock</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DigitalClock">
    <xs:complexContent mixed="false">
      <xs:extension base="TextView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditText" type="EditText">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.EditText</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EditText">
    <xs:complexContent mixed="false">
      <xs:extension base="TextView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpandableListView" type="ExpandableListView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ExpandableListView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExpandableListView">
    <xs:complexContent mixed="false">
      <xs:extension base="ListView">
        <xs:attribute ref="android:childDivider" />
        <xs:attribute ref="android:childIndicator" />
        <xs:attribute ref="android:childIndicatorLeft" />
        <xs:attribute ref="android:childIndicatorRight" />
        <xs:attribute ref="android:groupIndicator" />
        <xs:attribute ref="android:indicatorLeft" />
        <xs:attribute ref="android:indicatorRight" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrameLayout" type="FrameLayout">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.FrameLayout</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FrameLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewGroup">
        <xs:attribute ref="android:foreground" />
        <xs:attribute ref="android:foregroundGravity" />
        <xs:attribute ref="android:measureAllChildren" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gallery" type="Gallery">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.Gallery</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Gallery">
    <xs:complexContent mixed="false">
      <xs:extension base="AbsSpinner">
        <xs:attribute ref="android:animationDuration" />
        <xs:attribute ref="android:gravity" />
        <xs:attribute ref="android:spacing" />
        <xs:attribute ref="android:unselectedAlpha" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GridView" type="GridView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.GridView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GridView">
    <xs:complexContent mixed="false">
      <xs:extension base="AbsListView">
        <xs:attribute ref="android:columnWidth" />
        <xs:attribute ref="android:gravity" />
        <xs:attribute ref="android:horizontalSpacing" />
        <xs:attribute ref="android:numColumns" />
        <xs:attribute ref="android:stretchMode" />
        <xs:attribute ref="android:verticalSpacing" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HorizontalScrollView" type="HorizontalScrollView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.HorizontalScrollView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="HorizontalScrollView">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout">
        <xs:attribute ref="android:fillViewport" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageButton" type="ImageButton">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ImageButton</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ImageButton">
    <xs:complexContent mixed="false">
      <xs:extension base="ImageView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageSwitcher" type="ImageSwitcher">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ImageSwitcher</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ImageSwitcher">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewSwitcher" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageView" type="ImageView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ImageView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ImageView">
    <xs:complexContent mixed="false">
      <xs:extension base="View">
        <xs:attribute ref="android:adjustViewBounds" />
        <xs:attribute ref="android:baselineAlignBottom" />
        <xs:attribute ref="android:cropToPadding" />
        <xs:attribute ref="android:maxHeight" />
        <xs:attribute ref="android:maxWidth" />
        <xs:attribute ref="android:scaleType" />
        <xs:attribute ref="android:src" />
        <xs:attribute ref="android:tint" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LinearLayout" type="LinearLayout">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.LinearLayout</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LinearLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewGroup">
        <xs:attribute ref="android:baselineAligned" />
        <xs:attribute ref="android:baselineAlignedChildIndex" />
        <xs:attribute ref="android:gravity" />
        <xs:attribute ref="android:orientation" />
        <xs:attribute ref="android:weightSum" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListView" type="ListView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ListView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListView">
    <xs:complexContent mixed="false">
      <xs:extension base="AbsListView">
        <xs:attribute ref="android:choiceMode" />
        <xs:attribute ref="android:divider" />
        <xs:attribute ref="android:dividerHeight" />
        <xs:attribute ref="android:entries" />
        <xs:attribute ref="android:footerDividersEnabled" />
        <xs:attribute ref="android:headerDividersEnabled" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MultiAutoCompleteTextView" type="MultiAutoCompleteTextView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.MultiAutoCompleteTextView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MultiAutoCompleteTextView">
    <xs:complexContent mixed="false">
      <xs:extension base="AutoCompleteTextView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgressBar" type="ProgressBar">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ProgressBar</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ProgressBar">
    <xs:complexContent mixed="false">
      <xs:extension base="View">
        <xs:attribute ref="android:indeterminate" />
        <xs:attribute ref="android:indeterminateBehavior" />
        <xs:attribute ref="android:indeterminateDrawable" />
        <xs:attribute ref="android:indeterminateDuration" />
        <xs:attribute ref="android:indeterminateOnly" />
        <xs:attribute ref="android:interpolator" />
        <xs:attribute ref="android:max" />
        <xs:attribute ref="android:maxHeight" />
        <xs:attribute ref="android:maxWidth" />
        <xs:attribute ref="android:minHeight" />
        <xs:attribute ref="android:minWidth" />
        <xs:attribute ref="android:progress" />
        <xs:attribute ref="android:progressDrawable" />
        <xs:attribute ref="android:secondaryProgress" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickContactBadge" type="QuickContactBadge">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.QuickContactBadge</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="QuickContactBadge">
    <xs:complexContent mixed="false">
      <xs:extension base="ImageView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RadioButton" type="RadioButton">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.RadioButton</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RadioButton">
    <xs:complexContent mixed="false">
      <xs:extension base="CompoundButton" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RadioGroup" type="RadioGroup">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.RadioGroup</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RadioGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="LinearLayout">
        <xs:attribute ref="android:checkedButton" />
        <xs:attribute ref="android:orientation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RatingBar" type="RatingBar">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.RatingBar</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RatingBar">
    <xs:complexContent mixed="false">
      <xs:extension base="AbsSeekBar">
        <xs:attribute ref="android:isIndicator" />
        <xs:attribute ref="android:numStars" />
        <xs:attribute ref="android:rating" />
        <xs:attribute ref="android:stepSize" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RelativeLayout" type="RelativeLayout">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.RelativeLayout</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RelativeLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewGroup">
        <xs:attribute ref="android:gravity" />
        <xs:attribute ref="android:ignoreGravity" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrollView" type="ScrollView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ScrollView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ScrollView">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout">
        <xs:attribute ref="android:fillViewport" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SeekBar" type="SeekBar">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.SeekBar</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SeekBar">
    <xs:complexContent mixed="false">
      <xs:extension base="AbsSeekBar">
        <xs:attribute ref="android:thumb" />
        <xs:attribute ref="android:thumbOffset" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SlidingDrawer" type="SlidingDrawer">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.SlidingDrawer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SlidingDrawer">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewGroup">
        <xs:attribute ref="android:allowSingleTap" />
        <xs:attribute ref="android:animateOnClick" />
        <xs:attribute ref="android:bottomOffset" />
        <xs:attribute ref="android:content" />
        <xs:attribute ref="android:handle" />
        <xs:attribute ref="android:orientation" />
        <xs:attribute ref="android:topOffset" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Spinner" type="Spinner">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.Spinner</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Spinner">
    <xs:complexContent mixed="false">
      <xs:extension base="AbsSpinner">
        <xs:attribute ref="android:prompt" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TabHost" type="TabHost">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TabHost</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TabHost">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TabWidget" type="TabWidget">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TabWidget</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TabWidget">
    <xs:complexContent mixed="false">
      <xs:extension base="LinearLayout">
        <xs:attribute ref="android:divider" />
        <xs:attribute ref="android:tabStripEnabled" />
        <xs:attribute ref="android:tabStripLeft" />
        <xs:attribute ref="android:tabStripRight" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TableLayout" type="TableLayout">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TableLayout</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TableLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="LinearLayout">
        <xs:attribute ref="android:collapseColumns" />
        <xs:attribute ref="android:shrinkColumns" />
        <xs:attribute ref="android:stretchColumns" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TableRow" type="TableRow">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TableRow</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TableRow">
    <xs:complexContent mixed="false">
      <xs:extension base="LinearLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextSwitcher" type="TextSwitcher">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TextSwitcher</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TextSwitcher">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewSwitcher" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimePicker" type="TimePicker">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TimePicker</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TimePicker">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToggleButton" type="ToggleButton">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ToggleButton</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ToggleButton">
    <xs:complexContent mixed="false">
      <xs:extension base="CompoundButton">
        <xs:attribute ref="android:disabledAlpha" />
        <xs:attribute ref="android:textOff" />
        <xs:attribute ref="android:textOn" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TwoLineListItem" type="TwoLineListItem">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.TwoLineListItem</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TwoLineListItem">
    <xs:complexContent mixed="false">
      <xs:extension base="RelativeLayout">
        <xs:attribute ref="android:mode" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoView" type="VideoView">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.VideoView</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="VideoView">
    <xs:complexContent mixed="false">
      <xs:extension base="SurfaceView" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewAnimator" type="ViewAnimator">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ViewAnimator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ViewAnimator">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameLayout">
        <xs:attribute ref="android:inAnimation" />
        <xs:attribute ref="android:outAnimation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewFlipper" type="ViewFlipper">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ViewFlipper</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ViewFlipper">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewAnimator">
        <xs:attribute ref="android:autoStart" />
        <xs:attribute ref="android:flipInterval" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewSwitcher" type="ViewSwitcher">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ViewSwitcher</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ViewSwitcher">
    <xs:complexContent mixed="false">
      <xs:extension base="ViewAnimator" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZoomButton" type="ZoomButton">
    <xs:annotation>
      <xs:documentation>Runtime Type: Android.Widget.ZoomButton</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ZoomButton">
    <xs:complexContent mixed="false">
      <xs:extension base="ImageButton" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>