extras/MonoDevelop.MonoDroid/MonoDevelop.MonoDroid/schemas/schemas.android.com.apk.res.android.xsd


<xs:schema
  xmlns:xs='http://www.w3.org/2001/XMLSchema'
  targetNamespace='http://schemas.android.com/apk/res/android'
  xmlns:tns='http://schemas.android.com/apk/res/android'>

<xs:attribute name='cacheColorHint' type='xs:string' />
<xs:attribute name='drawSelectorOnTop' type='xs:string' />
<xs:attribute name='fastScrollEnabled' type='xs:string' />
<xs:attribute name='listSelector' type='xs:string' />
<xs:attribute name='scrollingCache' type='xs:string' />
<xs:attribute name='smoothScrollbar' type='xs:string' />
<xs:attribute name='stackFromBottom' type='xs:string' />
<xs:attribute name='textFilterEnabled' type='xs:string' />
<xs:attribute name='transcriptMode' type='xs:string' />
<xs:attribute name='entries' type='xs:string' />
<xs:attribute name='layout_x' type='xs:string' />
<xs:attribute name='layout_y' type='xs:string' />
<xs:attribute name='factor' type='xs:string' />
<xs:attribute name='accountPreferences' type='xs:string' />
<xs:attribute name='accountType' type='xs:string' />
<xs:attribute name='icon' type='xs:string' />
<xs:attribute name='label' type='xs:string' />
<xs:attribute name='smallIcon' type='xs:string' />
<xs:attribute name='bottomBright' type='xs:string' />
<xs:attribute name='bottomDark' type='xs:string' />
<xs:attribute name='bottomMedium' type='xs:string' />
<xs:attribute name='centerBright' type='xs:string' />
<xs:attribute name='centerDark' type='xs:string' />
<xs:attribute name='centerMedium' type='xs:string' />
<xs:attribute name='fullBright' type='xs:string' />
<xs:attribute name='fullDark' type='xs:string' />
<xs:attribute name='topBright' type='xs:string' />
<xs:attribute name='topDark' type='xs:string' />
<xs:attribute name='fromAlpha' type='xs:string' />
<xs:attribute name='toAlpha' type='xs:string' />
<xs:attribute name='dial' type='xs:string' />
<xs:attribute name='hand_hour' type='xs:string' />
<xs:attribute name='hand_minute' type='xs:string' />
<xs:attribute name='installLocation' type='xs:string' />
<xs:attribute name='sharedUserId' type='xs:string' />
<xs:attribute name='sharedUserLabel' type='xs:string' />
<xs:attribute name='versionCode' type='xs:string' />
<xs:attribute name='versionName' type='xs:string' />
<xs:attribute name='name' type='xs:string' />
<xs:attribute name='allowTaskReparenting' type='xs:string' />
<xs:attribute name='alwaysRetainTaskState' type='xs:string' />
<xs:attribute name='clearTaskOnLaunch' type='xs:string' />
<xs:attribute name='configChanges' type='xs:string' />
<xs:attribute name='description' type='xs:string' />
<xs:attribute name='enabled' type='xs:string' />
<xs:attribute name='excludeFromRecents' type='xs:string' />
<xs:attribute name='exported' type='xs:string' />
<xs:attribute name='finishOnCloseSystemDialogs' type='xs:string' />
<xs:attribute name='finishOnTaskLaunch' type='xs:string' />
<xs:attribute name='launchMode' type='xs:string' />
<xs:attribute name='multiprocess' type='xs:string' />
<xs:attribute name='noHistory' type='xs:string' />
<xs:attribute name='permission' type='xs:string' />
<xs:attribute name='process' type='xs:string' />
<xs:attribute name='screenOrientation' type='xs:string' />
<xs:attribute name='stateNotNeeded' type='xs:string' />
<xs:attribute name='taskAffinity' type='xs:string' />
<xs:attribute name='theme' type='xs:string' />
<xs:attribute name='windowSoftInputMode' type='xs:string' />
<xs:attribute name='targetActivity' type='xs:string' />
<xs:attribute name='allowBackup' type='xs:string' />
<xs:attribute name='allowClearUserData' type='xs:string' />
<xs:attribute name='backupAgent' type='xs:string' />
<xs:attribute name='debuggable' type='xs:string' />
<xs:attribute name='hasCode' type='xs:string' />
<xs:attribute name='killAfterRestore' type='xs:string' />
<xs:attribute name='manageSpaceActivity' type='xs:string' />
<xs:attribute name='persistent' type='xs:string' />
<xs:attribute name='restoreAnyVersion' type='xs:string' />
<xs:attribute name='restoreNeedsApplication' type='xs:string' />
<xs:attribute name='testOnly' type='xs:string' />
<xs:attribute name='vmSafeMode' type='xs:string' />
<xs:attribute name='host' type='xs:string' />
<xs:attribute name='mimeType' type='xs:string' />
<xs:attribute name='path' type='xs:string' />
<xs:attribute name='pathPattern' type='xs:string' />
<xs:attribute name='pathPrefix' type='xs:string' />
<xs:attribute name='port' type='xs:string' />
<xs:attribute name='scheme' type='xs:string' />
<xs:attribute name='functionalTest' type='xs:string' />
<xs:attribute name='handleProfiling' type='xs:string' />
<xs:attribute name='targetPackage' type='xs:string' />
<xs:attribute name='priority' type='xs:string' />
<xs:attribute name='resource' type='xs:string' />
<xs:attribute name='value' type='xs:string' />
<xs:attribute name='readPermission' type='xs:string' />
<xs:attribute name='writePermission' type='xs:string' />
<xs:attribute name='permissionGroup' type='xs:string' />
<xs:attribute name='protectionLevel' type='xs:string' />
<xs:attribute name='authorities' type='xs:string' />
<xs:attribute name='grantUriPermissions' type='xs:string' />
<xs:attribute name='initOrder' type='xs:string' />
<xs:attribute name='syncable' type='xs:string' />
<xs:attribute name='anyDensity' type='xs:string' />
<xs:attribute name='largeScreens' type='xs:string' />
<xs:attribute name='normalScreens' type='xs:string' />
<xs:attribute name='resizeable' type='xs:string' />
<xs:attribute name='smallScreens' type='xs:string' />
<xs:attribute name='reqFiveWayNav' type='xs:string' />
<xs:attribute name='reqHardKeyboard' type='xs:string' />
<xs:attribute name='reqKeyboardType' type='xs:string' />
<xs:attribute name='reqNavigation' type='xs:string' />
<xs:attribute name='reqTouchScreen' type='xs:string' />
<xs:attribute name='glEsVersion' type='xs:string' />
<xs:attribute name='required' type='xs:string' />
<xs:attribute name='maxSdkVersion' type='xs:string' />
<xs:attribute name='minSdkVersion' type='xs:string' />
<xs:attribute name='targetSdkVersion' type='xs:string' />
<xs:attribute name='drawable' type='xs:string' />
<xs:attribute name='pivotX' type='xs:string' />
<xs:attribute name='pivotY' type='xs:string' />
<xs:attribute name='visible' type='xs:string' />
<xs:attribute name='detachWallpaper' type='xs:string' />
<xs:attribute name='duration' type='xs:string' />
<xs:attribute name='fillAfter' type='xs:string' />
<xs:attribute name='fillBefore' type='xs:string' />
<xs:attribute name='fillEnabled' type='xs:string' />
<xs:attribute name='interpolator' type='xs:string' />
<xs:attribute name='repeatCount' type='xs:string' />
<xs:attribute name='repeatMode' type='xs:string' />
<xs:attribute name='startOffset' type='xs:string' />
<xs:attribute name='zAdjustment' type='xs:string' />
<xs:attribute name='oneshot' type='xs:string' />
<xs:attribute name='variablePadding' type='xs:string' />
<xs:attribute name='shareInterpolator' type='xs:string' />
<xs:attribute name='tension' type='xs:string' />
<xs:attribute name='extraTension' type='xs:string' />
<xs:attribute name='configure' type='xs:string' />
<xs:attribute name='initialLayout' type='xs:string' />
<xs:attribute name='minHeight' type='xs:string' />
<xs:attribute name='minWidth' type='xs:string' />
<xs:attribute name='updatePeriodMillis' type='xs:string' />
<xs:attribute name='completionHint' type='xs:string' />
<xs:attribute name='completionHintView' type='xs:string' />
<xs:attribute name='completionThreshold' type='xs:string' />
<xs:attribute name='dropDownAnchor' type='xs:string' />
<xs:attribute name='dropDownHeight' type='xs:string' />
<xs:attribute name='dropDownHorizontalOffset' type='xs:string' />
<xs:attribute name='dropDownSelector' type='xs:string' />
<xs:attribute name='dropDownVerticalOffset' type='xs:string' />
<xs:attribute name='dropDownWidth' type='xs:string' />
<xs:attribute name='inputType' type='xs:string' />
<xs:attribute name='antialias' type='xs:string' />
<xs:attribute name='dither' type='xs:string' />
<xs:attribute name='filter' type='xs:string' />
<xs:attribute name='gravity' type='xs:string' />
<xs:attribute name='src' type='xs:string' />
<xs:attribute name='tileMode' type='xs:string' />
<xs:attribute name='disableDependentsState' type='xs:string' />
<xs:attribute name='summaryOff' type='xs:string' />
<xs:attribute name='summaryOn' type='xs:string' />
<xs:attribute name='checkMark' type='xs:string' />
<xs:attribute name='checked' type='xs:string' />
<xs:attribute name='format' type='xs:string' />
<xs:attribute name='clipOrientation' type='xs:string' />
<xs:attribute name='color' type='xs:string' />
<xs:attribute name='button' type='xs:string' />
<xs:attribute name='detailColumn' type='xs:string' />
<xs:attribute name='detailSocialSummary' type='xs:string' />
<xs:attribute name='summaryColumn' type='xs:string' />
<xs:attribute name='cycles' type='xs:string' />
<xs:attribute name='endYear' type='xs:string' />
<xs:attribute name='startYear' type='xs:string' />
<xs:attribute name='dialogIcon' type='xs:string' />
<xs:attribute name='dialogLayout' type='xs:string' />
<xs:attribute name='dialogMessage' type='xs:string' />
<xs:attribute name='dialogTitle' type='xs:string' />
<xs:attribute name='negativeButtonText' type='xs:string' />
<xs:attribute name='positiveButtonText' type='xs:string' />
<xs:attribute name='bottomLeftRadius' type='xs:string' />
<xs:attribute name='bottomRightRadius' type='xs:string' />
<xs:attribute name='radius' type='xs:string' />
<xs:attribute name='topLeftRadius' type='xs:string' />
<xs:attribute name='topRightRadius' type='xs:string' />
<xs:attribute name='state_active' type='xs:string' />
<xs:attribute name='state_checkable' type='xs:string' />
<xs:attribute name='state_checked' type='xs:string' />
<xs:attribute name='state_enabled' type='xs:string' />
<xs:attribute name='state_first' type='xs:string' />
<xs:attribute name='state_focused' type='xs:string' />
<xs:attribute name='state_last' type='xs:string' />
<xs:attribute name='state_middle' type='xs:string' />
<xs:attribute name='state_pressed' type='xs:string' />
<xs:attribute name='state_selected' type='xs:string' />
<xs:attribute name='state_single' type='xs:string' />
<xs:attribute name='state_window_focused' type='xs:string' />
<xs:attribute name='state_empty' type='xs:string' />
<xs:attribute name='state_expanded' type='xs:string' />
<xs:attribute name='childDivider' type='xs:string' />
<xs:attribute name='childIndicator' type='xs:string' />
<xs:attribute name='childIndicatorLeft' type='xs:string' />
<xs:attribute name='childIndicatorRight' type='xs:string' />
<xs:attribute name='groupIndicator' type='xs:string' />
<xs:attribute name='indicatorLeft' type='xs:string' />
<xs:attribute name='indicatorRight' type='xs:string' />
<xs:attribute name='foreground' type='xs:string' />
<xs:attribute name='foregroundGravity' type='xs:string' />
<xs:attribute name='measureAllChildren' type='xs:string' />
<xs:attribute name='layout_gravity' type='xs:string' />
<xs:attribute name='animationDuration' type='xs:string' />
<xs:attribute name='spacing' type='xs:string' />
<xs:attribute name='unselectedAlpha' type='xs:string' />
<xs:attribute name='eventsInterceptionEnabled' type='xs:string' />
<xs:attribute name='fadeDuration' type='xs:string' />
<xs:attribute name='fadeEnabled' type='xs:string' />
<xs:attribute name='fadeOffset' type='xs:string' />
<xs:attribute name='gestureColor' type='xs:string' />
<xs:attribute name='gestureStrokeAngleThreshold' type='xs:string' />
<xs:attribute name='gestureStrokeLengthThreshold' type='xs:string' />
<xs:attribute name='gestureStrokeSquarenessThreshold' type='xs:string' />
<xs:attribute name='gestureStrokeType' type='xs:string' />
<xs:attribute name='gestureStrokeWidth' type='xs:string' />
<xs:attribute name='orientation' type='xs:string' />
<xs:attribute name='uncertainGestureColor' type='xs:string' />
<xs:attribute name='innerRadius' type='xs:string' />
<xs:attribute name='innerRadiusRatio' type='xs:string' />
<xs:attribute name='shape' type='xs:string' />
<xs:attribute name='thickness' type='xs:string' />
<xs:attribute name='thicknessRatio' type='xs:string' />
<xs:attribute name='useLevel' type='xs:string' />
<xs:attribute name='angle' type='xs:string' />
<xs:attribute name='centerColor' type='xs:string' />
<xs:attribute name='centerX' type='xs:string' />
<xs:attribute name='centerY' type='xs:string' />
<xs:attribute name='endColor' type='xs:string' />
<xs:attribute name='gradientRadius' type='xs:string' />
<xs:attribute name='startColor' type='xs:string' />
<xs:attribute name='type' type='xs:string' />
<xs:attribute name='bottom' type='xs:string' />
<xs:attribute name='left' type='xs:string' />
<xs:attribute name='right' type='xs:string' />
<xs:attribute name='top' type='xs:string' />
<xs:attribute name='height' type='xs:string' />
<xs:attribute name='width' type='xs:string' />
<xs:attribute name='dashGap' type='xs:string' />
<xs:attribute name='dashWidth' type='xs:string' />
<xs:attribute name='columnDelay' type='xs:string' />
<xs:attribute name='direction' type='xs:string' />
<xs:attribute name='directionPriority' type='xs:string' />
<xs:attribute name='rowDelay' type='xs:string' />
<xs:attribute name='columnWidth' type='xs:string' />
<xs:attribute name='horizontalSpacing' type='xs:string' />
<xs:attribute name='numColumns' type='xs:string' />
<xs:attribute name='stretchMode' type='xs:string' />
<xs:attribute name='verticalSpacing' type='xs:string' />
<xs:attribute name='fillViewport' type='xs:string' />
<xs:attribute name='maxItemsPerRow' type='xs:string' />
<xs:attribute name='maxRows' type='xs:string' />
<xs:attribute name='moreIcon' type='xs:string' />
<xs:attribute name='rowHeight' type='xs:string' />
<xs:attribute name='adjustViewBounds' type='xs:string' />
<xs:attribute name='baselineAlignBottom' type='xs:string' />
<xs:attribute name='cropToPadding' type='xs:string' />
<xs:attribute name='maxHeight' type='xs:string' />
<xs:attribute name='maxWidth' type='xs:string' />
<xs:attribute name='scaleType' type='xs:string' />
<xs:attribute name='tint' type='xs:string' />
<xs:attribute name='isDefault' type='xs:string' />
<xs:attribute name='settingsActivity' type='xs:string' />
<xs:attribute name='imeExtractEnterAnimation' type='xs:string' />
<xs:attribute name='imeExtractExitAnimation' type='xs:string' />
<xs:attribute name='imeFullscreenBackground' type='xs:string' />
<xs:attribute name='insetBottom' type='xs:string' />
<xs:attribute name='insetLeft' type='xs:string' />
<xs:attribute name='insetRight' type='xs:string' />
<xs:attribute name='insetTop' type='xs:string' />
<xs:attribute name='action' type='xs:string' />
<xs:attribute name='data' type='xs:string' />
<xs:attribute name='targetClass' type='xs:string' />
<xs:attribute name='horizontalGap' type='xs:string' />
<xs:attribute name='keyHeight' type='xs:string' />
<xs:attribute name='keyWidth' type='xs:string' />
<xs:attribute name='verticalGap' type='xs:string' />
<xs:attribute name='keyBackground' type='xs:string' />
<xs:attribute name='keyPreviewHeight' type='xs:string' />
<xs:attribute name='keyPreviewLayout' type='xs:string' />
<xs:attribute name='keyPreviewOffset' type='xs:string' />
<xs:attribute name='keyTextColor' type='xs:string' />
<xs:attribute name='keyTextSize' type='xs:string' />
<xs:attribute name='labelTextSize' type='xs:string' />
<xs:attribute name='popupLayout' type='xs:string' />
<xs:attribute name='shadowColor' type='xs:string' />
<xs:attribute name='shadowRadius' type='xs:string' />
<xs:attribute name='verticalCorrection' type='xs:string' />
<xs:attribute name='state_long_pressable' type='xs:string' />
<xs:attribute name='codes' type='xs:string' />
<xs:attribute name='iconPreview' type='xs:string' />
<xs:attribute name='isModifier' type='xs:string' />
<xs:attribute name='isRepeatable' type='xs:string' />
<xs:attribute name='isSticky' type='xs:string' />
<xs:attribute name='keyEdgeFlags' type='xs:string' />
<xs:attribute name='keyIcon' type='xs:string' />
<xs:attribute name='keyLabel' type='xs:string' />
<xs:attribute name='keyOutputText' type='xs:string' />
<xs:attribute name='keyboardMode' type='xs:string' />
<xs:attribute name='popupCharacters' type='xs:string' />
<xs:attribute name='popupKeyboard' type='xs:string' />
<xs:attribute name='rowEdgeFlags' type='xs:string' />
<xs:attribute name='id' type='xs:string' />
<xs:attribute name='animation' type='xs:string' />
<xs:attribute name='animationOrder' type='xs:string' />
<xs:attribute name='delay' type='xs:string' />
<xs:attribute name='maxLevel' type='xs:string' />
<xs:attribute name='minLevel' type='xs:string' />
<xs:attribute name='baselineAligned' type='xs:string' />
<xs:attribute name='baselineAlignedChildIndex' type='xs:string' />
<xs:attribute name='weightSum' type='xs:string' />
<xs:attribute name='layout_height' type='xs:string' />
<xs:attribute name='layout_weight' type='xs:string' />
<xs:attribute name='layout_width' type='xs:string' />
<xs:attribute name='entryValues' type='xs:string' />
<xs:attribute name='choiceMode' type='xs:string' />
<xs:attribute name='divider' type='xs:string' />
<xs:attribute name='dividerHeight' type='xs:string' />
<xs:attribute name='footerDividersEnabled' type='xs:string' />
<xs:attribute name='headerDividersEnabled' type='xs:string' />
<xs:attribute name='apiKey' type='xs:string' />
<xs:attribute name='checkableBehavior' type='xs:string' />
<xs:attribute name='menuCategory' type='xs:string' />
<xs:attribute name='orderInCategory' type='xs:string' />
<xs:attribute name='alphabeticShortcut' type='xs:string' />
<xs:attribute name='checkable' type='xs:string' />
<xs:attribute name='numericShortcut' type='xs:string' />
<xs:attribute name='title' type='xs:string' />
<xs:attribute name='titleCondensed' type='xs:string' />
<xs:attribute name='headerBackground' type='xs:string' />
<xs:attribute name='horizontalDivider' type='xs:string' />
<xs:attribute name='itemBackground' type='xs:string' />
<xs:attribute name='itemIconDisabledAlpha' type='xs:string' />
<xs:attribute name='itemTextAppearance' type='xs:string' />
<xs:attribute name='verticalDivider' type='xs:string' />
<xs:attribute name='windowAnimationStyle' type='xs:string' />
<xs:attribute name='popupBackground' type='xs:string' />
<xs:attribute name='state_above_anchor' type='xs:string' />
<xs:attribute name='defaultValue' type='xs:string' />
<xs:attribute name='dependency' type='xs:string' />
<xs:attribute name='key' type='xs:string' />
<xs:attribute name='layout' type='xs:string' />
<xs:attribute name='order' type='xs:string' />
<xs:attribute name='selectable' type='xs:string' />
<xs:attribute name='shouldDisableView' type='xs:string' />
<xs:attribute name='summary' type='xs:string' />
<xs:attribute name='widgetLayout' type='xs:string' />
<xs:attribute name='orderingFromXml' type='xs:string' />
<xs:attribute name='indeterminate' type='xs:string' />
<xs:attribute name='indeterminateBehavior' type='xs:string' />
<xs:attribute name='indeterminateDrawable' type='xs:string' />
<xs:attribute name='indeterminateDuration' type='xs:string' />
<xs:attribute name='indeterminateOnly' type='xs:string' />
<xs:attribute name='max' type='xs:string' />
<xs:attribute name='progress' type='xs:string' />
<xs:attribute name='progressDrawable' type='xs:string' />
<xs:attribute name='secondaryProgress' type='xs:string' />
<xs:attribute name='checkedButton' type='xs:string' />
<xs:attribute name='isIndicator' type='xs:string' />
<xs:attribute name='numStars' type='xs:string' />
<xs:attribute name='rating' type='xs:string' />
<xs:attribute name='stepSize' type='xs:string' />
<xs:attribute name='ignoreGravity' type='xs:string' />
<xs:attribute name='layout_above' type='xs:string' />
<xs:attribute name='layout_alignBaseline' type='xs:string' />
<xs:attribute name='layout_alignBottom' type='xs:string' />
<xs:attribute name='layout_alignLeft' type='xs:string' />
<xs:attribute name='layout_alignParentBottom' type='xs:string' />
<xs:attribute name='layout_alignParentLeft' type='xs:string' />
<xs:attribute name='layout_alignParentRight' type='xs:string' />
<xs:attribute name='layout_alignParentTop' type='xs:string' />
<xs:attribute name='layout_alignRight' type='xs:string' />
<xs:attribute name='layout_alignTop' type='xs:string' />
<xs:attribute name='layout_alignWithParentIfMissing' type='xs:string' />
<xs:attribute name='layout_below' type='xs:string' />
<xs:attribute name='layout_centerHorizontal' type='xs:string' />
<xs:attribute name='layout_centerInParent' type='xs:string' />
<xs:attribute name='layout_centerVertical' type='xs:string' />
<xs:attribute name='layout_toLeftOf' type='xs:string' />
<xs:attribute name='layout_toRightOf' type='xs:string' />
<xs:attribute name='ringtoneType' type='xs:string' />
<xs:attribute name='showDefault' type='xs:string' />
<xs:attribute name='showSilent' type='xs:string' />
<xs:attribute name='fromDegrees' type='xs:string' />
<xs:attribute name='toDegrees' type='xs:string' />
<xs:attribute name='fromXScale' type='xs:string' />
<xs:attribute name='fromYScale' type='xs:string' />
<xs:attribute name='toXScale' type='xs:string' />
<xs:attribute name='toYScale' type='xs:string' />
<xs:attribute name='scaleGravity' type='xs:string' />
<xs:attribute name='scaleHeight' type='xs:string' />
<xs:attribute name='scaleWidth' type='xs:string' />
<xs:attribute name='autoUrlDetect' type='xs:string' />
<xs:attribute name='hint' type='xs:string' />
<xs:attribute name='imeOptions' type='xs:string' />
<xs:attribute name='includeInGlobalSearch' type='xs:string' />
<xs:attribute name='queryAfterZeroResults' type='xs:string' />
<xs:attribute name='searchButtonText' type='xs:string' />
<xs:attribute name='searchMode' type='xs:string' />
<xs:attribute name='searchSettingsDescription' type='xs:string' />
<xs:attribute name='searchSuggestAuthority' type='xs:string' />
<xs:attribute name='searchSuggestIntentAction' type='xs:string' />
<xs:attribute name='searchSuggestIntentData' type='xs:string' />
<xs:attribute name='searchSuggestPath' type='xs:string' />
<xs:attribute name='searchSuggestSelection' type='xs:string' />
<xs:attribute name='searchSuggestThreshold' type='xs:string' />
<xs:attribute name='voiceLanguage' type='xs:string' />
<xs:attribute name='voiceLanguageModel' type='xs:string' />
<xs:attribute name='voiceMaxResults' type='xs:string' />
<xs:attribute name='voicePromptText' type='xs:string' />
<xs:attribute name='voiceSearchMode' type='xs:string' />
<xs:attribute name='keycode' type='xs:string' />
<xs:attribute name='queryActionMsg' type='xs:string' />
<xs:attribute name='suggestActionMsg' type='xs:string' />
<xs:attribute name='suggestActionMsgColumn' type='xs:string' />
<xs:attribute name='thumb' type='xs:string' />
<xs:attribute name='thumbOffset' type='xs:string' />
<xs:attribute name='allowSingleTap' type='xs:string' />
<xs:attribute name='animateOnClick' type='xs:string' />
<xs:attribute name='bottomOffset' type='xs:string' />
<xs:attribute name='content' type='xs:string' />
<xs:attribute name='handle' type='xs:string' />
<xs:attribute name='topOffset' type='xs:string' />
<xs:attribute name='prompt' type='xs:string' />
<xs:attribute name='constantSize' type='xs:string' />
<xs:attribute name='contentAuthority' type='xs:string' />
<xs:attribute name='supportsUploading' type='xs:string' />
<xs:attribute name='userVisible' type='xs:string' />
<xs:attribute name='tabStripEnabled' type='xs:string' />
<xs:attribute name='tabStripLeft' type='xs:string' />
<xs:attribute name='tabStripRight' type='xs:string' />
<xs:attribute name='collapseColumns' type='xs:string' />
<xs:attribute name='shrinkColumns' type='xs:string' />
<xs:attribute name='stretchColumns' type='xs:string' />
<xs:attribute name='layout_column' type='xs:string' />
<xs:attribute name='layout_span' type='xs:string' />
<xs:attribute name='textColor' type='xs:string' />
<xs:attribute name='textColorHighlight' type='xs:string' />
<xs:attribute name='textColorHint' type='xs:string' />
<xs:attribute name='textColorLink' type='xs:string' />
<xs:attribute name='textSize' type='xs:string' />
<xs:attribute name='textStyle' type='xs:string' />
<xs:attribute name='typeface' type='xs:string' />
<xs:attribute name='autoLink' type='xs:string' />
<xs:attribute name='autoText' type='xs:string' />
<xs:attribute name='bufferType' type='xs:string' />
<xs:attribute name='capitalize' type='xs:string' />
<xs:attribute name='cursorVisible' type='xs:string' />
<xs:attribute name='digits' type='xs:string' />
<xs:attribute name='drawableBottom' type='xs:string' />
<xs:attribute name='drawableLeft' type='xs:string' />
<xs:attribute name='drawablePadding' type='xs:string' />
<xs:attribute name='drawableRight' type='xs:string' />
<xs:attribute name='drawableTop' type='xs:string' />
<xs:attribute name='editable' type='xs:string' />
<xs:attribute name='editorExtras' type='xs:string' />
<xs:attribute name='ellipsize' type='xs:string' />
<xs:attribute name='ems' type='xs:string' />
<xs:attribute name='freezesText' type='xs:string' />
<xs:attribute name='imeActionId' type='xs:string' />
<xs:attribute name='imeActionLabel' type='xs:string' />
<xs:attribute name='includeFontPadding' type='xs:string' />
<xs:attribute name='inputMethod' type='xs:string' />
<xs:attribute name='lineSpacingExtra' type='xs:string' />
<xs:attribute name='lineSpacingMultiplier' type='xs:string' />
<xs:attribute name='lines' type='xs:string' />
<xs:attribute name='linksClickable' type='xs:string' />
<xs:attribute name='marqueeRepeatLimit' type='xs:string' />
<xs:attribute name='maxEms' type='xs:string' />
<xs:attribute name='maxLength' type='xs:string' />
<xs:attribute name='maxLines' type='xs:string' />
<xs:attribute name='minEms' type='xs:string' />
<xs:attribute name='minLines' type='xs:string' />
<xs:attribute name='numeric' type='xs:string' />
<xs:attribute name='password' type='xs:string' />
<xs:attribute name='phoneNumber' type='xs:string' />
<xs:attribute name='privateImeOptions' type='xs:string' />
<xs:attribute name='scrollHorizontally' type='xs:string' />
<xs:attribute name='selectAllOnFocus' type='xs:string' />
<xs:attribute name='shadowDx' type='xs:string' />
<xs:attribute name='shadowDy' type='xs:string' />
<xs:attribute name='singleLine' type='xs:string' />
<xs:attribute name='text' type='xs:string' />
<xs:attribute name='textAppearance' type='xs:string' />
<xs:attribute name='textScaleX' type='xs:string' />
<xs:attribute name='absListViewStyle' type='xs:string' />
<xs:attribute name='alertDialogStyle' type='xs:string' />
<xs:attribute name='autoCompleteTextViewStyle' type='xs:string' />
<xs:attribute name='backgroundDimAmount' type='xs:string' />
<xs:attribute name='backgroundDimEnabled' type='xs:string' />
<xs:attribute name='buttonStyle' type='xs:string' />
<xs:attribute name='buttonStyleInset' type='xs:string' />
<xs:attribute name='buttonStyleSmall' type='xs:string' />
<xs:attribute name='buttonStyleToggle' type='xs:string' />
<xs:attribute name='candidatesTextStyleSpans' type='xs:string' />
<xs:attribute name='checkBoxPreferenceStyle' type='xs:string' />
<xs:attribute name='checkboxStyle' type='xs:string' />
<xs:attribute name='colorBackground' type='xs:string' />
<xs:attribute name='colorBackgroundCacheHint' type='xs:string' />
<xs:attribute name='colorForeground' type='xs:string' />
<xs:attribute name='colorForegroundInverse' type='xs:string' />
<xs:attribute name='dialogPreferenceStyle' type='xs:string' />
<xs:attribute name='disabledAlpha' type='xs:string' />
<xs:attribute name='dropDownHintAppearance' type='xs:string' />
<xs:attribute name='dropDownItemStyle' type='xs:string' />
<xs:attribute name='dropDownListViewStyle' type='xs:string' />
<xs:attribute name='editTextPreferenceStyle' type='xs:string' />
<xs:attribute name='editTextStyle' type='xs:string' />
<xs:attribute name='expandableListPreferredChildIndicatorLeft' type='xs:string' />
<xs:attribute name='expandableListPreferredChildIndicatorRight' type='xs:string' />
<xs:attribute name='expandableListPreferredChildPaddingLeft' type='xs:string' />
<xs:attribute name='expandableListPreferredItemIndicatorLeft' type='xs:string' />
<xs:attribute name='expandableListPreferredItemIndicatorRight' type='xs:string' />
<xs:attribute name='expandableListPreferredItemPaddingLeft' type='xs:string' />
<xs:attribute name='expandableListViewStyle' type='xs:string' />
<xs:attribute name='expandableListViewWhiteStyle' type='xs:string' />
<xs:attribute name='galleryItemBackground' type='xs:string' />
<xs:attribute name='galleryStyle' type='xs:string' />
<xs:attribute name='gridViewStyle' type='xs:string' />
<xs:attribute name='imageButtonStyle' type='xs:string' />
<xs:attribute name='imageWellStyle' type='xs:string' />
<xs:attribute name='listChoiceIndicatorMultiple' type='xs:string' />
<xs:attribute name='listChoiceIndicatorSingle' type='xs:string' />
<xs:attribute name='listDivider' type='xs:string' />
<xs:attribute name='listPreferredItemHeight' type='xs:string' />
<xs:attribute name='listSeparatorTextViewStyle' type='xs:string' />
<xs:attribute name='listViewStyle' type='xs:string' />
<xs:attribute name='listViewWhiteStyle' type='xs:string' />
<xs:attribute name='mapViewStyle' type='xs:string' />
<xs:attribute name='panelBackground' type='xs:string' />
<xs:attribute name='panelColorBackground' type='xs:string' />
<xs:attribute name='panelColorForeground' type='xs:string' />
<xs:attribute name='panelFullBackground' type='xs:string' />
<xs:attribute name='panelTextAppearance' type='xs:string' />
<xs:attribute name='popupWindowStyle' type='xs:string' />
<xs:attribute name='preferenceCategoryStyle' type='xs:string' />
<xs:attribute name='preferenceInformationStyle' type='xs:string' />
<xs:attribute name='preferenceLayoutChild' type='xs:string' />
<xs:attribute name='preferenceScreenStyle' type='xs:string' />
<xs:attribute name='preferenceStyle' type='xs:string' />
<xs:attribute name='progressBarStyle' type='xs:string' />
<xs:attribute name='progressBarStyleHorizontal' type='xs:string' />
<xs:attribute name='progressBarStyleInverse' type='xs:string' />
<xs:attribute name='progressBarStyleLarge' type='xs:string' />
<xs:attribute name='progressBarStyleLargeInverse' type='xs:string' />
<xs:attribute name='progressBarStyleSmall' type='xs:string' />
<xs:attribute name='progressBarStyleSmallInverse' type='xs:string' />
<xs:attribute name='progressBarStyleSmallTitle' type='xs:string' />
<xs:attribute name='quickContactBadgeStyleSmallWindowLarge' type='xs:string' />
<xs:attribute name='quickContactBadgeStyleSmallWindowMedium' type='xs:string' />
<xs:attribute name='quickContactBadgeStyleSmallWindowSmall' type='xs:string' />
<xs:attribute name='quickContactBadgeStyleWindowLarge' type='xs:string' />
<xs:attribute name='quickContactBadgeStyleWindowMedium' type='xs:string' />
<xs:attribute name='quickContactBadgeStyleWindowSmall' type='xs:string' />
<xs:attribute name='radioButtonStyle' type='xs:string' />
<xs:attribute name='ratingBarStyle' type='xs:string' />
<xs:attribute name='ratingBarStyleIndicator' type='xs:string' />
<xs:attribute name='ratingBarStyleSmall' type='xs:string' />
<xs:attribute name='ringtonePreferenceStyle' type='xs:string' />
<xs:attribute name='scrollViewStyle' type='xs:string' />
<xs:attribute name='seekBarStyle' type='xs:string' />
<xs:attribute name='spinnerDropDownItemStyle' type='xs:string' />
<xs:attribute name='spinnerItemStyle' type='xs:string' />
<xs:attribute name='spinnerStyle' type='xs:string' />
<xs:attribute name='starStyle' type='xs:string' />
<xs:attribute name='tabWidgetStyle' type='xs:string' />
<xs:attribute name='textAppearanceButton' type='xs:string' />
<xs:attribute name='textAppearanceInverse' type='xs:string' />
<xs:attribute name='textAppearanceLarge' type='xs:string' />
<xs:attribute name='textAppearanceLargeInverse' type='xs:string' />
<xs:attribute name='textAppearanceMedium' type='xs:string' />
<xs:attribute name='textAppearanceMediumInverse' type='xs:string' />
<xs:attribute name='textAppearanceSearchResultSubtitle' type='xs:string' />
<xs:attribute name='textAppearanceSearchResultTitle' type='xs:string' />
<xs:attribute name='textAppearanceSmall' type='xs:string' />
<xs:attribute name='textAppearanceSmallInverse' type='xs:string' />
<xs:attribute name='textCheckMark' type='xs:string' />
<xs:attribute name='textCheckMarkInverse' type='xs:string' />
<xs:attribute name='textColorHintInverse' type='xs:string' />
<xs:attribute name='textColorPrimary' type='xs:string' />
<xs:attribute name='textColorPrimaryDisableOnly' type='xs:string' />
<xs:attribute name='textColorPrimaryInverse' type='xs:string' />
<xs:attribute name='textColorPrimaryInverseDisableOnly' type='xs:string' />
<xs:attribute name='textColorPrimaryInverseNoDisable' type='xs:string' />
<xs:attribute name='textColorPrimaryNoDisable' type='xs:string' />
<xs:attribute name='textColorSecondary' type='xs:string' />
<xs:attribute name='textColorSecondaryInverse' type='xs:string' />
<xs:attribute name='textColorSecondaryInverseNoDisable' type='xs:string' />
<xs:attribute name='textColorSecondaryNoDisable' type='xs:string' />
<xs:attribute name='textColorTertiary' type='xs:string' />
<xs:attribute name='textColorTertiaryInverse' type='xs:string' />
<xs:attribute name='textViewStyle' type='xs:string' />
<xs:attribute name='webTextViewStyle' type='xs:string' />
<xs:attribute name='webViewStyle' type='xs:string' />
<xs:attribute name='windowBackground' type='xs:string' />
<xs:attribute name='windowContentOverlay' type='xs:string' />
<xs:attribute name='windowDisablePreview' type='xs:string' />
<xs:attribute name='windowFrame' type='xs:string' />
<xs:attribute name='windowFullscreen' type='xs:string' />
<xs:attribute name='windowIsFloating' type='xs:string' />
<xs:attribute name='windowIsTranslucent' type='xs:string' />
<xs:attribute name='windowNoDisplay' type='xs:string' />
<xs:attribute name='windowNoTitle' type='xs:string' />
<xs:attribute name='windowShowWallpaper' type='xs:string' />
<xs:attribute name='windowTitleBackgroundStyle' type='xs:string' />
<xs:attribute name='windowTitleSize' type='xs:string' />
<xs:attribute name='windowTitleStyle' type='xs:string' />
<xs:attribute name='yesNoPreferenceStyle' type='xs:string' />
<xs:attribute name='textOff' type='xs:string' />
<xs:attribute name='textOn' type='xs:string' />
<xs:attribute name='fromXDelta' type='xs:string' />
<xs:attribute name='fromYDelta' type='xs:string' />
<xs:attribute name='toXDelta' type='xs:string' />
<xs:attribute name='toYDelta' type='xs:string' />
<xs:attribute name='mode' type='xs:string' />
<xs:attribute name='layout_scale' type='xs:string' />
<xs:attribute name='background' type='xs:string' />
<xs:attribute name='clickable' type='xs:string' />
<xs:attribute name='contentDescription' type='xs:string' />
<xs:attribute name='drawingCacheQuality' type='xs:string' />
<xs:attribute name='duplicateParentState' type='xs:string' />
<xs:attribute name='fadeScrollbars' type='xs:string' />
<xs:attribute name='fadingEdge' type='xs:string' />
<xs:attribute name='fadingEdgeLength' type='xs:string' />
<xs:attribute name='fitsSystemWindows' type='xs:string' />
<xs:attribute name='focusable' type='xs:string' />
<xs:attribute name='focusableInTouchMode' type='xs:string' />
<xs:attribute name='hapticFeedbackEnabled' type='xs:string' />
<xs:attribute name='isScrollContainer' type='xs:string' />
<xs:attribute name='keepScreenOn' type='xs:string' />
<xs:attribute name='longClickable' type='xs:string' />
<xs:attribute name='nextFocusDown' type='xs:string' />
<xs:attribute name='nextFocusLeft' type='xs:string' />
<xs:attribute name='nextFocusRight' type='xs:string' />
<xs:attribute name='nextFocusUp' type='xs:string' />
<xs:attribute name='onClick' type='xs:string' />
<xs:attribute name='padding' type='xs:string' />
<xs:attribute name='paddingBottom' type='xs:string' />
<xs:attribute name='paddingLeft' type='xs:string' />
<xs:attribute name='paddingRight' type='xs:string' />
<xs:attribute name='paddingTop' type='xs:string' />
<xs:attribute name='saveEnabled' type='xs:string' />
<xs:attribute name='scrollX' type='xs:string' />
<xs:attribute name='scrollY' type='xs:string' />
<xs:attribute name='scrollbarAlwaysDrawHorizontalTrack' type='xs:string' />
<xs:attribute name='scrollbarAlwaysDrawVerticalTrack' type='xs:string' />
<xs:attribute name='scrollbarDefaultDelayBeforeFade' type='xs:string' />
<xs:attribute name='scrollbarFadeDuration' type='xs:string' />
<xs:attribute name='scrollbarSize' type='xs:string' />
<xs:attribute name='scrollbarStyle' type='xs:string' />
<xs:attribute name='scrollbarThumbHorizontal' type='xs:string' />
<xs:attribute name='scrollbarThumbVertical' type='xs:string' />
<xs:attribute name='scrollbarTrackHorizontal' type='xs:string' />
<xs:attribute name='scrollbarTrackVertical' type='xs:string' />
<xs:attribute name='scrollbars' type='xs:string' />
<xs:attribute name='soundEffectsEnabled' type='xs:string' />
<xs:attribute name='tag' type='xs:string' />
<xs:attribute name='visibility' type='xs:string' />
<xs:attribute name='inAnimation' type='xs:string' />
<xs:attribute name='outAnimation' type='xs:string' />
<xs:attribute name='autoStart' type='xs:string' />
<xs:attribute name='flipInterval' type='xs:string' />
<xs:attribute name='addStatesFromChildren' type='xs:string' />
<xs:attribute name='alwaysDrawnWithCache' type='xs:string' />
<xs:attribute name='animationCache' type='xs:string' />
<xs:attribute name='clipChildren' type='xs:string' />
<xs:attribute name='clipToPadding' type='xs:string' />
<xs:attribute name='descendantFocusability' type='xs:string' />
<xs:attribute name='layoutAnimation' type='xs:string' />
<xs:attribute name='persistentDrawingCache' type='xs:string' />
<xs:attribute name='layout_margin' type='xs:string' />
<xs:attribute name='layout_marginBottom' type='xs:string' />
<xs:attribute name='layout_marginLeft' type='xs:string' />
<xs:attribute name='layout_marginRight' type='xs:string' />
<xs:attribute name='layout_marginTop' type='xs:string' />
<xs:attribute name='inflatedId' type='xs:string' />
<xs:attribute name='streamType' type='xs:string' />
<xs:attribute name='author' type='xs:string' />
<xs:attribute name='thumbnail' type='xs:string' />
<xs:attribute name='activityCloseEnterAnimation' type='xs:string' />
<xs:attribute name='activityCloseExitAnimation' type='xs:string' />
<xs:attribute name='activityOpenEnterAnimation' type='xs:string' />
<xs:attribute name='activityOpenExitAnimation' type='xs:string' />
<xs:attribute name='taskCloseEnterAnimation' type='xs:string' />
<xs:attribute name='taskCloseExitAnimation' type='xs:string' />
<xs:attribute name='taskOpenEnterAnimation' type='xs:string' />
<xs:attribute name='taskOpenExitAnimation' type='xs:string' />
<xs:attribute name='taskToBackEnterAnimation' type='xs:string' />
<xs:attribute name='taskToBackExitAnimation' type='xs:string' />
<xs:attribute name='taskToFrontEnterAnimation' type='xs:string' />
<xs:attribute name='taskToFrontExitAnimation' type='xs:string' />
<xs:attribute name='wallpaperCloseEnterAnimation' type='xs:string' />
<xs:attribute name='wallpaperCloseExitAnimation' type='xs:string' />
<xs:attribute name='wallpaperIntraCloseEnterAnimation' type='xs:string' />
<xs:attribute name='wallpaperIntraCloseExitAnimation' type='xs:string' />
<xs:attribute name='wallpaperIntraOpenEnterAnimation' type='xs:string' />
<xs:attribute name='wallpaperIntraOpenExitAnimation' type='xs:string' />
<xs:attribute name='wallpaperOpenEnterAnimation' type='xs:string' />
<xs:attribute name='wallpaperOpenExitAnimation' type='xs:string' />
<xs:attribute name='windowEnterAnimation' type='xs:string' />
<xs:attribute name='windowExitAnimation' type='xs:string' />
<xs:attribute name='windowHideAnimation' type='xs:string' />
<xs:attribute name='windowShowAnimation' type='xs:string' />
</xs:schema>
